[submodule "fair"]
	path = fair
	url = https://github.com/PracticumAI/fair.git
[submodule "getting_started"]
	path = getting_started
	url = https://github.com/PracticumAI/getting_started
[submodule "python"]
	path = python
	url = https://github.com/PracticumAI/python
[submodule "deep_learning"]
	path = deep_learning
	url = https://github.com/PracticumAI/deep_learning
