[submodule "fair"]
	path = fair
	url = https://github.com/PracticumAI/fair.git
[submodule "getting_started"]
	path = getting_started
	url = https://github.com/PracticumAI/getting_started.git
[submodule "python"]
	path = python
	url = https://github.com/PracticumAI/python.git
[submodule "deep_learning"]
	path = deep_learning
	url = https://github.com/PracticumAI/deep_learning.git
