baseurl: ''
url: '/'
permalink: pretty
title: 'Practicum AI'

google_analytics: 'G-X1YCQKBD8F'

logo:
  mobile: "images/logo/Practicum_globe.png"
  mobile_height: "32px"
  mobile_width: "32px"
  desktop: "images/logo/PracticumAI_logo_250x50.png"
  desktop_height: "50px"
  desktop_width: "250px"

favicon: "images/logo/Practicum_globe.png"

collections:
  courses:
    output: true
  team:
    output: true
  posts:
    output: true

defaults:
  - scope:
      path: ""
      type: "courses"
    values:
      layout: "course"
  - scope:
      path: ""
      type: "team"
    values:
      layout: "team"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"     
  - scope:
      path: "images/headers"
    values:
        image: true

sass:
  indentWidth: 4
  style: compressed # possible values: nested expanded compact compressed
  precision: 10

plugins:
  - jekyll-environment-variables

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - README.md
