---
layout: default
bodyClass: "page-home"
---

  <!-- Add random header image adapted from https://shaharkadmiel.github.io/Loading-random-header-image/ -->

  {% if page.intro_image == 'random_img' %}
      {% assign header_images = site.static_files | where: "image", true %}
     
      <!--
        Javascript and Liquid code to gather a list of all header images
        in /assets/images/headers/
      -->
   
      <script type="text/javascript">
        // get images from ``header_images`` array to js var

        var header_images = [
          {% for image in header_images %}
            "{{ image.path }}",
          {% endfor %}
        ];

        var randomIndex = Math.floor(Math.random() * header_images.length);

        // and the winning ``header_image`` is...
        var random_image = header_images[randomIndex]
        
      </script>
  {% endif %}



<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img id='intro-image' alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}"  src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<!-- Actually change the the img source to show random image-->
<script type="text/javascript">
  document.getElementById('intro-image').src = random_image;
</script>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% for course in site.courses %}
      <div class="col-12 col-md-4 mb-1">
        <div class="course course-summary">
          <div class="course-content">
            <h2 class="course-title">
              <a href="{{ course.url | relative_url }}">{{ course.title }}</a>
            </h2>
              {% if course.image %}
              <div class="course-image"><img alt="{{ course.title }} logo" src="{{ course.image | relative_url }}" width="{{ course.image-width }}" height="{{ course.image-height }}" align='left' /></div>
              {% endif %}
              {{ course.content | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "courses" | relative_url }}">View All Courses</a>
      </div>
    </div>
  </div>
</div>

{% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}
