---
layout: default
bodyClass: "page-post"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="post post-single">
        {% if post.image %}
        <div class="post-image">
            <img width="90" height="90" alt="{{ post.title }}" class="img-fluid mb-2" src="{{ post.image | relative_url }}" />
        </div>
        {% endif %}
        <h1 class="title">{{page.title}}</h1>
        <h2 class="subtitle">{{ page.subtitle }}</h2>
        <p>{{ page.date | date: "%B %-d, %Y" }}</p>
        <div class="content">{{content}}</div>
      </div>
    </div>
  </div>
</div>




