---
layout: default
bodyClass: "page-team"
---

<div class="container pb-12 pt-12 pt-md-10 pb-md-10">
      <div class="team team-summary team-summary-large">
          {% if page.image %}
          <div class="team-image">
              <img width="90" height=" 90" alt="{{ page.title }}" class="img-fluid mb-2" src="{{ page.image | relative_url }}" />
          </div>
          {% endif %}
          <div class="team-meta">
              <h2 class="team-name">{{ page.title }}</h2>
              <p class="team-description">{{ page.jobtitle }}</p>
              {% if page.linkedinurl %}
              <a target="_blank" href="{{ page.linkedinurl }}" rel="noreferrer">LinkedIn</a>
              {% endif %}
          </div>
          <div class="team-content">{{ page.content }}</div>
      </div>

</div>




